@function max($numbers...) {
    @return m#{a}x(#{numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{numbers});
}

body {
    background-color: #fff;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 1.7;
    color: #436372;
}

.conteiner {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

.conteiner-inner {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.button {
    height: 60px;
    max-width: 200px;
    width: 100%;
    display: inline-block;
    background-color: #a3bbc8;
    color: #fff;
    padding: 22px 0 0 28px;
    font-size: 15px;
    position: relative;
    outline: black;

    &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 15px;
        background-repeat: no-repeat;
        background-image: url('../images/icon/shape.svg');
        right: 12px;
        bottom: 17px;
    }
}

.button-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 77px;

    &__item {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__btn {
        @extend %dmsans-700;
        color: #c9c9c9;
        transition: color 0.4s;
        font-size: 16px;

        &:focus {
            color: black;
        }
    }
}

.title {
    @extend %dmsans-700;
    font-size: 36px;
    color: #191919;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    width: 50px;
    height: 50px;
    fill: #a3bbc8;
}
.icon {
    width: 16px;
    height: 16px;
}